@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .animate-shake {
    animation: shake 0.4s cubic-bezier(.36, .07, .19, .97) both;
  }

  .animate-spin-slow {
    animation: spin 12s linear infinite;
  }

  .drop-shadow-glow {
    filter: drop-shadow(0 0 20px currentColor);
  }
}

@layer base {
  body {
    background-color: #F2F4F7;
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(-10px, 0);
  }

  50% {
    transform: translate(10px, 0);
  }

  75% {
    transform: translate(-10px, 0);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes particle {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  100% {
    transform: translate(var(--x), var(--y)) scale(0);
    opacity: 0;
  }
}

.animate-particle {
  animation: particle 1s ease-out forwards;
}